<?xml version="1.0"?>
<configuration>
  <configSections>
	<!-- Custom Configuration Sections  -->
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="FluidTrade.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	  <section name="FluidTrade.Guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
	</sectionGroup>
  </configSections>
  <applicationSettings>
	<FluidTrade.Core.Properties.Settings>
	  <setting name="EventLog" serializeAs="String">
		<value>DebtTrak</value>
	  </setting>
	  <setting name="EventLogSource" serializeAs="String">
		<value>Client</value>
	  </setting>
	</FluidTrade.Core.Properties.Settings>
	<FluidTrade.Guardian.Properties.Settings>
	  <setting name="AdminSupportEndpoint" serializeAs="String">
		<value>TcpAdminEndpoint</value>
	  </setting>
	  <setting name="ApplicationName" serializeAs="String">
		<value>DebtTrak Client</value>
	  </setting>
	  <setting name="DataModelEndpoint" serializeAs="String">
		<value>TcpDataModelEndpoint</value>
	  </setting>
	  <setting name="PageSource" serializeAs="String">
		<value>../../ReportWorkingOrder.xaml</value>
	  </setting>
	  <setting name="TradingSupportEndpoint" serializeAs="String">
		<value>TcpTradingSupportCertificateEndpoint</value>
	  </setting>
	  <setting name="PurgeBufferSize" serializeAs="String">
		<value>25000</value>
	  </setting>
	</FluidTrade.Guardian.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
	<extensions>
	  <behaviorExtensions>
		<add name="customClientCredentials" type="FluidTrade.Core.PromptedClientCredentialsElement, FluidTrade.FluidTradeLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac"/>
	  </behaviorExtensions>
	</extensions>
	<behaviors>
	  <endpointBehaviors>
		<behavior name="CustomChannelInitialization">
		  <customClientCredentials>
			<serviceCertificate>
			  <authentication revocationMode="NoCheck"/>
			</serviceCertificate>
		  </customClientCredentials>
		  <dataContractSerializer maxItemsInObjectGraph="67108864"/>
		</behavior>
	  </endpointBehaviors>
	</behaviors>
	<bindings configSource="Bindings.config">
	</bindings>
	<client>
	  <endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Admin Support"
	   behaviorConfiguration="CustomChannelInitialization"
	   binding="customBinding"
	   bindingConfiguration="TcpUserNameBinding"
	   contract="AdminSupportReference.IAdminSupport"
	   name="TcpAdminEndpoint"/>
	  <endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Data Model"
			  behaviorConfiguration="CustomChannelInitialization"
			binding="customBinding"
			bindingConfiguration="TcpUserNameBinding"
			  contract="IDataModel"
			  name="TcpDataModelEndpoint"/>
	  <endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Trading Support"
			  behaviorConfiguration="CustomChannelInitialization"
	  binding="customBinding"
	  bindingConfiguration="TcpUserNameBinding"
			  contract="TradingSupportReference.ITradingSupport"
			  name="TcpTradingSupportCertificateEndpoint"/>
	</client>
  </system.serviceModel>
</configuration>
