<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluidTrade.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluidTrade.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FluidTrade.Core.Properties.Settings>
            <setting name="ADDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionStringName" serializeAs="String">
                <value />
            </setting>
            <setting name="EventLog" serializeAs="String">
                <value />
            </setting>
            <setting name="EventLogSource" serializeAs="String">
                <value />
            </setting>
            <setting name="IsMultiuserLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockTimeout" serializeAs="String">
                <value>-00:00:00.0010000</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MetaDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataModelInstanceId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="PurgeBufferSize" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="TransactionBufferSize" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="DeletedRecordAge" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="LogCompressionSize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LogCompressionInterval" serializeAs="String">
                <value>00:01:00</value>
            </setting>
        </FluidTrade.Core.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FluidTrade.Core.Properties.Settings>
            <setting name="AreCredentialsPersistent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Thumbprint" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
        </FluidTrade.Core.Properties.Settings>
    </userSettings>
</configuration>