<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Custom Configuration Sections -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FluidTrade.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FluidTrade.Guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <FluidTrade.Core.Properties.Settings>
      <setting name="EventLog" serializeAs="String">
        <value>Guardian</value>
      </setting>
      <setting name="EventLogSource" serializeAs="String">
        <value>Guardian Web Service</value>
      </setting>
    </FluidTrade.Core.Properties.Settings>
    <FluidTrade.Guardian.Properties.Settings>
      <setting name="DataModelEndpoint" serializeAs="String">
        <value>TcpDataModelEndpoint</value>
      </setting>
      <setting name="PageSource" serializeAs="String">
        <value>../../ReportWorkingOrder.xaml</value>
      </setting>
      <setting name="TradingSupportEndpoint" serializeAs="String">
        <value>TcpTradingSupportCertificateEndpoint</value>
      </setting>
    </FluidTrade.Guardian.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="customClientCredentials" type="FluidTrade.Core.PromptedClientCredentialsElement, FluidTrade.FluidTradeLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=9e74401225b20b7d" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomChannelInitialization">
          <customClientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </customClientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="16777216" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TcpCertificateBinding" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00"  transactionFlow="true"
          maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="8388608" />
					<security>
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/Guardian/Data Model/Certificate"
        behaviorConfiguration="CustomChannelInitialization" binding="netTcpBinding"
        bindingConfiguration="TcpCertificateBinding" contract="IDataModel"
        name="TcpDataModelEndpoint" />
      <endpoint address="net.tcp://localhost/Guardian/Trading Support/Certificate"
        behaviorConfiguration="CustomChannelInitialization" binding="netTcpBinding"
        bindingConfiguration="TcpCertificateBinding" contract="ITradingSupport"
        name="TcpTradingSupportCertificateEndpoint" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Qualify Partial Assembly Names -->
      <qualifyAssembly partialName="FluidTrade.ClientDataModel" fullName="FluidTrade.ClientDataModel, Version=1.3.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <!-- Client Data Model -->
      <dependentAssembly>
        <assemblyIdentity name="FluidTrade.ClientDataModel" publicKeyToken="612c61628830b03a" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>