<bindings>
  <customBinding>
	<binding name="TcpUserNameBinding" closeTimeout="00:20:00" openTimeout="00:20:00"
		 receiveTimeout="00:20:00" sendTimeout="00:20:00">
	  <transactionFlow transactionProtocol="OleTransactions" />
	  <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
		  requireDerivedKeys="false" securityHeaderLayout="Strict" includeTimestamp="true"
		  keyEntropyMode="CombinedEntropy" messageSecurityVersion="Default"
		  requireSecurityContextCancellation="true">
		<localClientSettings cacheCookies="true" detectReplays="false"
			replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="Infinite"
			replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
			sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="false"
			timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
		<localServiceSettings detectReplays="false" issuedCookieLifetime="10:00:00"
			maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
			negotiationTimeout="00:11:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
			sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
			reconnectTransportOnFailure="false" maxPendingSessions="128"
			maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
		<secureConversationBootstrap defaultAlgorithmSuite="Default"
			authenticationMode="UserNameOverTransport" requireDerivedKeys="true"
			securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy"
			messageSecurityVersion="Default">
		  <localClientSettings cacheCookies="true" detectReplays="false"
			  replayCacheSize="900000" maxClockSkew="Infinite" maxCookieCachingTime="Infinite"
			  replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
			  sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
			  timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
		  <localServiceSettings detectReplays="false" issuedCookieLifetime="00:15:00"
			  maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
			  negotiationTimeout="00:11:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
			  sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
			  reconnectTransportOnFailure="true" maxPendingSessions="128"
			  maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
		</secureConversationBootstrap>
	  </security>
	  <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
		  maxSessionSize="2048">
		<readerQuotas maxDepth="32" maxStringContentLength="134217728"
			maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
	  </binaryMessageEncoding>
	  <sslStreamSecurity requireClientCertificate="false" />
	  <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
		  maxReceivedMessageSize="2147483647" connectionBufferSize="8192"
		  hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
		  maxBufferSize="2147483647" maxPendingConnections="10" maxOutputDelay="00:00:00.2000000"
		  maxPendingAccepts="1" transferMode="Buffered" listenBacklog="10"
		  portSharingEnabled="false" teredoEnabled="false">
		<connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
			idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
	  </tcpTransport>
	</binding>
  </customBinding>
  <netTcpBinding>
	<binding name="TcpOriginalBinding" closeTimeout="00:20:00" openTimeout="00:20:00"
		 receiveTimeout="00:20:00" sendTimeout="00:20:00" transactionFlow="true"
		 maxReceivedMessageSize="2147483647">
	  <readerQuotas maxStringContentLength="134217728" maxArrayLength="0" />
	  <security mode="TransportWithMessageCredential">
		<message clientCredentialType="UserName" />
	  </security>
	</binding>
  </netTcpBinding>
</bindings>