<?xml version="1.0"?>
<configuration>
  <configSections>
	<!-- Custom Configuration Sections  -->
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="FluidTrade.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	  <section name="FluidTrade.Guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
	</sectionGroup>
  </configSections>
  <applicationSettings>
	<FluidTrade.Core.Properties.Settings>
	  <setting name="EventLog" serializeAs="String">
		<value>Fluid Trade</value>
	  </setting>
	  <setting name="EventLogSource" serializeAs="String">
		<value>Fluid Trade Client</value>
	  </setting>
	</FluidTrade.Core.Properties.Settings>
	<FluidTrade.Guardian.Properties.Settings>
	  <setting name="AdminSupportEndpoint" serializeAs="String">
		<value>TcpAdminEndpoint</value>
	  </setting>
	  <setting name="ApplicationName" serializeAs="String">
		<value>Fluid Trade Client</value>
	  </setting>
	  <setting name="DataModelEndpoint" serializeAs="String">
		<value>TcpDataModelEndpoint</value>
	  </setting>
	  <setting name="LandingPageURI" serializeAs="String">
		<value>http://support.fluidtrade.com/clientmsg.aspx?Exchange={0}&amp;Client={1}&amp;Server={2}</value>
	  </setting>
	  <setting name="PageSource" serializeAs="String">
		<value>../../ReportWorkingOrder.xaml</value>
	  </setting>
	  <setting name="TradingSupportEndpoint" serializeAs="String">
		<value>TcpTradingSupportCertificateEndpoint</value>
	  </setting>
	  <setting name="PurgeBufferSize" serializeAs="String">
		<value>25000</value>
	  </setting>
	</FluidTrade.Guardian.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
	<extensions>
	  <behaviorExtensions>
		<add name="customClientCredentials" type="FluidTrade.Core.PromptedClientCredentialsElement, FluidTrade.FluidTradeLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac"/>
	  </behaviorExtensions>
	</extensions>
	<behaviors>
	  <endpointBehaviors>
		<behavior name="CustomChannelInitialization">
		  <customClientCredentials>
			<serviceCertificate>
			  <authentication revocationMode="NoCheck"/>
			</serviceCertificate>
		  </customClientCredentials>
		  <dataContractSerializer maxItemsInObjectGraph="67108864"/>
		</behavior>
	  </endpointBehaviors>
	</behaviors>
	<bindings configSource="Bindings.config">
	</bindings>
	<client>
	  <endpoint address="net.tcp://209.235.6.102:808/Guardian/Admin Support"
	   behaviorConfiguration="CustomChannelInitialization"
	   binding="customBinding"
	   bindingConfiguration="TcpUserNameBinding"
	   contract="AdminSupportReference.IAdminSupport"
	   name="TcpAdminEndpoint">
		<identity>
		  <dns value="localhost"/>
		</identity>
	  </endpoint>
	  <endpoint address="net.tcp://209.235.6.102:808/Guardian/Data Model"
			  behaviorConfiguration="CustomChannelInitialization"
			binding="customBinding"
			bindingConfiguration="TcpUserNameBinding"
			  contract="IDataModel"
			  name="TcpDataModelEndpoint">
		<identity>
		  <dns value="localhost"/>
		</identity>
	  </endpoint>
	  <endpoint address="net.tcp://209.235.6.102:808/Guardian/Trading Support"
			  behaviorConfiguration="CustomChannelInitialization"
	  binding="customBinding"
	  bindingConfiguration="TcpUserNameBinding"
			  contract="TradingSupportReference.ITradingSupport"
			  name="TcpTradingSupportCertificateEndpoint">
		<identity>
		  <dns value="localhost"/>
		</identity>
	  </endpoint>
	</client>
  </system.serviceModel>
  <runtime>
	<!-- Direct Assembly Bindings -->
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <!-- O2S.Components.PDF4NET  -->
	  <dependentAssembly>
		<assemblyIdentity name="O2S.Components.PDF4NET" publicKeyToken="bdf0cc7afcc23208" culture="neutral"/>
		<codeBase version="2.3.0.1" href="file:///C:\Build\Projects\Fluid Trade\Main\Additional Client Libraries\O2S.Components.PDF4NET.dll"/>
	  </dependentAssembly>
	  <!-- O2S.Components.PDF4NET  -->
	  <dependentAssembly>
		<assemblyIdentity name="O2S.Components.PDF4NET" publicKeyToken="80d03dd9e5b85317" culture="neutral"/>
		<codeBase version="3.3.5.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Additional Client Libraries\O2S.Components.PDF4NET.dll"/>
	  </dependentAssembly>
	  <!-- O2S.Components.PDFView4NET  -->
	  <dependentAssembly>
		<assemblyIdentity name="O2S.Components.PDFView4NET" publicKeyToken="bdf0cc7afcc23208" culture="neutral"/>
		<codeBase version="2.3.0.1" href="file:///C:\Build\Projects\Fluid Trade\Main\Additional Client Libraries\O2S.Components.PDFView4NET.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.PdfControl  -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.PdfControl" publicKeyToken="9e74401225b20b7d" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\PDF Control\bin\Debug\FluidTrade.PdfControl.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.BlotterViewer -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.BlotterViewer" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Blotter Viewer\bin\Debug\FluidTrade.BlotterViewer.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.GuardianLibrary -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.GuardianLibrary" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.1.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Guardian Library\bin\Debug\FluidTrade.GuardianLibrary.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtNegotiatorNegotiationConsole -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtNegotiatorNegotiationConsole" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Negotiator Negotiation Console\bin\Debug\FluidTrade.DebtNegotiatorNegotiationConsole.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtHolderNegotiationConsole -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtHolderNegotiationConsole" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Holder Negotiation Console\bin\Debug\FluidTrade.DebtHolderNegotiationConsole.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtBlotterViewer -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtBlotterViewer" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Blotter Viewer\bin\Debug\FluidTrade.DebtBlotterViewer.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtHolderBlotterViewer -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtHolderBlotterViewer" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Holder Blotter Viewer\bin\Debug\FluidTrade.DebtHolderBlotterViewer.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtHolderWorkingOrderReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtHolderWorkingOrderReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Holder Working Order Report\bin\Debug\FluidTrade.DebtHolderWorkingOrderReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtNegotiatorBlotterViewer -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtNegotiatorBlotterViewer" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Negotiator Blotter Viewer\bin\Debug\FluidTrade.DebtNegotiatorBlotterViewer.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtNegotiatorWorkingOrderReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtNegotiatorWorkingOrderReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Negotiator Working Order Report\bin\Debug\FluidTrade.DebtNegotiatorWorkingOrderReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtWorkingOrderReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtWorkingOrderReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Working Order Report\bin\Debug\FluidTrade.DebtWorkingOrderReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtWorkingOrderReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DetailReports" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Detail Reports\bin\Debug\FluidTrade.DetailReports.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtPaymentReports -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtPaymentReports" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Payment Reports\bin\Debug\FluidTrade.DebtPaymentReports.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.EquityBlotterViewer -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.EquityBlotterViewer" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Equity Blotter Viewer\bin\Debug\FluidTrade.EquityBlotterViewer.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.EquityWorkingOrderReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.EquityWorkingOrderReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Equity Working Order Report\bin\Debug\FluidTrade.EquityWorkingOrderReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.ExecutionReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.ExecutionReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Execution Report\bin\Debug\FluidTrade.ExecutionReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.GuardianWindows -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.GuardianWindows" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Guardian Windows\bin\Debug\FluidTrade.GuardianWindows.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.FluidTradeLibrary -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.FluidTradeLibrary" publicKeyToken="9e74401225b20b7d" culture="neutral"/>
		<codeBase version="1.3.1.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Fluid Trade Library\bin\Debug\FluidTrade.FluidTradeLibrary.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.FluidTradeWindows -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.FluidTradeWindows" publicKeyToken="9e74401225b20b7d" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Fluid Trade Windows\bin\Debug\FluidTrade.FluidTradeWindows.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.MatchReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.MatchReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Match Report\bin\Debug\FluidTrade.MatchReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtHolderMatchReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtHolderMatchReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Holder Match Report\bin\Debug\FluidTrade.DebtHolderMatchReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtNegotiatorMatchReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtNegotiatorMatchReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Negotiator Match Report\bin\Debug\FluidTrade.DebtNegotiatorMatchReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.MessageLibrary -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.MessageLibrary" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Message Library\bin\Debug\FluidTrade.MessageLibrary.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.NegotiationConsole -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.NegotiationConsole" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Negotiation Console\bin\Debug\FluidTrade.NegotiationConsole.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.TradingSupport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.TradingSupport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Trading Support\bin\Debug\FluidTrade.TradingSupport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.FolderViewer -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.FolderViewer" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Folder Viewer\bin\Debug\FluidTrade.FolderViewer.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.WorkingOrderReport -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.WorkingOrderReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Working Order Report\bin\Debug\FluidTrade.WorkingOrderReport.dll"/>
	  </dependentAssembly>
	  <!-- Guardian Windows Thirdparty -->
	  <dependentAssembly>
		<assemblyIdentity name="Guardian.Windows.Thirdparty" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.0.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Additional Client Libraries\Guardian.Windows.Thirdparty.dll"/>
	  </dependentAssembly>
	  <!-- Guardian Windows PDFControl -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.PDFControl" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.0.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Additional Client Libraries\FluidTrade.PDFControl.dll"/>
	  </dependentAssembly>
	  <!-- Guardian Windows PDFLibrary -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.PDFLibrary" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.0.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Additional Client Libraries\FluidTrade.PDFLibrary.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.SettlementReport.dll -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.SettlementReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Settlement Report\bin\Debug\FluidTrade.SettlementReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtNegotiatorSettlementReport.dll -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtNegotiatorSettlementReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Negotiator Settlement Report\bin\Debug\FluidTrade.DebtNegotiatorSettlementReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.DebtHolderSettlementReport.dll -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.DebtHolderSettlementReport" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Debt Holder Settlement Report\bin\Debug\FluidTrade.DebtHolderSettlementReport.dll"/>
	  </dependentAssembly>
	  <!-- FluidTrade.ClientDataModel -->
	  <dependentAssembly>
		<assemblyIdentity name="FluidTrade.ClientDataModel" publicKeyToken="b200e265aff2c6ac" culture="neutral"/>
		<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Client Data Model\bin\Debug\FluidTrade.ClientDataModel.dll"/>
	  </dependentAssembly>
	</assemblyBinding>
	<disableCachingBindingFailures enabled="1"/>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <qualifyAssembly partialName="FluidTrade.ClientDataModel" fullName="FluidTrade.ClientDataModel, Version=1.3.0.0, PublicKeyToken=b200e265aff2c6ac, Culture=neutral"/>
	</assemblyBinding>
  </runtime>
</configuration>