<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Custom Configuration Sections -->
		<section name="serviceSection" type="FluidTrade.Core.ServiceSectionHandler, FluidTrade.FluidTradeLibrary" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="FluidTrade.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="FluidTrade.Guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<!-- Connection Strings -->
	<connectionStrings>
		<add name="AuthorizationServices" connectionString="msxml://C:\\Users\\Public\\Public Security\\Guardian Roles.xml" />
		<!--Transaction Binding=Explicit Unbind-->
		<add name="DataModel" connectionString="Data Source=.; Integrated Security=True; MultipleActiveResultSets=True; Initial Catalog=Guardian;" />
		<!--<add name="ADConnectionString" connectionString="LDAP://titania.fluidtrade.com:389/" />-->
		<add name="ADConnectionString" connectionString="" />
	</connectionStrings>
	<applicationSettings>
		<FluidTrade.Core.Properties.Settings>
			<setting name="ADDomain" serializeAs="String">
				<value>DC=FluidTrade,DC=local</value>
			</setting>
			<setting name="ApplicationName" serializeAs="String">
				<value>DebtTrak</value>
			</setting>
			<setting name="EventLog" serializeAs="String">
				<value>DebtTrak</value>
			</setting>
			<setting name="EventLogSource" serializeAs="String">
				<value>Web Service</value>
			</setting>
		  <setting name="LockTimeout" serializeAs="String">
			<value>00:02:00</value>
		  </setting>
		  <setting name="ConnectionStringName" serializeAs="String">
				<value>AuthorizationServices</value>
			</setting>
		</FluidTrade.Core.Properties.Settings>
		<FluidTrade.Guardian.Properties.Settings>
			<setting name="DataModelInstanceId" serializeAs="String">
				<value>B972AE56-9D6B-401d-944B-F746436EE15D</value>
			</setting>
			<setting name="ServiceName" serializeAs="String">
				<value>DebtTrak</value>
			</setting>
			<setting name="ServiceStartingMessage" serializeAs="String">
				<value>DebtTrak Web Service is Starting</value>
			</setting>
			<setting name="ServiceStarted" serializeAs="String">
				<value>DebtTrak Web Service has Started</value>
			</setting>
			<setting name="ServiceStoppingMessage" serializeAs="String">
				<value>DebtTrak Web Service is Stopping</value>
			</setting>
		</FluidTrade.Guardian.Properties.Settings>
	</applicationSettings>
	<!--Transaction timeout-->
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="c:\messages.svdiagnosticsclog"
					 type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 name="ServiceModelMessageLoggingListener"
					 traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
	</system.diagnostics>
	<system.transactions>
		<defaultSettings timeout="00:05:30" />
	</system.transactions>
	<!-- Service Model -->
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="Errorlogging"
						 type="FluidTrade.Core.ServerErrorHandlerBehavior, FluidTrade.FluidTradeLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac" />
			</behaviorExtensions>
		</extensions>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WebServiceBehavior">
					<serviceAuthorization principalPermissionMode="Custom">
						<authorizationPolicies>
							<add policyType="FluidTrade.Guardian.AuthorizationPolicy, FluidTrade.GuardianLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac" />
						</authorizationPolicies>
					</serviceAuthorization>
					<serviceTimeouts transactionTimeout="00:02:00"/>
					<serviceMetadata httpGetEnabled="true" />
					<serviceCredentials>
						<clientCertificate>
							<authentication revocationMode="NoCheck" />
						</clientCertificate>
						<serviceCertificate findValue="cce.darkbond.com"
																x509FindType="FindBySubjectName" />
						<userNameAuthentication userNamePasswordValidationMode="Custom"
																		customUserNamePasswordValidatorType="FluidTrade.Core.UserNameValidator, FluidTrade.FluidTradeLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac" />
					</serviceCredentials>
					<dataContractSerializer maxItemsInObjectGraph="67108864" />
					<serviceThrottling maxConcurrentSessions="10" />					
				</behavior>
				<behavior name="WebServiceBehaviorLongTimeout">
					<serviceAuthorization principalPermissionMode="Custom">
						<authorizationPolicies>
							<add policyType="FluidTrade.Guardian.AuthorizationPolicy, FluidTrade.GuardianLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac" />
						</authorizationPolicies>
					</serviceAuthorization>
					<serviceTimeouts transactionTimeout="00:22:00"/>
					<serviceMetadata httpGetEnabled="true" />
					<serviceCredentials>
						<clientCertificate>
							<authentication revocationMode="NoCheck" />
						</clientCertificate>
						<serviceCertificate findValue="cce.darkbond.com"
																x509FindType="FindBySubjectName" />
						<userNameAuthentication userNamePasswordValidationMode="Custom"
																		customUserNamePasswordValidatorType="FluidTrade.Core.UserNameValidator, FluidTrade.FluidTradeLibrary, Version=1.3.1.0, Culture=neutral, PublicKeyToken=b200e265aff2c6ac" />
					</serviceCredentials>
					<dataContractSerializer maxItemsInObjectGraph="67108864" />
					<serviceThrottling maxConcurrentSessions="10" />
					<Errorlogging />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="TcpTransactedCertificateBinding"
								 openTimeout="00:10:00"
								 sendTimeout="00:10:00"
								 transactionFlow="true"
								 maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="134217728"
												maxArrayLength="0" />
					<security>
						<transport clientCredentialType="Certificate" />
					</security>
				</binding>
				<binding name="TcpTransactedUserNameBinding"
								 transactionFlow="true"
								 maxReceivedMessageSize="2147483647">
					<readerQuotas maxStringContentLength="134217728"
												maxArrayLength="0" />
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
				<binding name="TcpTransactedUserNameStreamedBinding" transactionFlow="true" maxReceivedMessageSize="2147483647"
						 transferMode ="StreamedResponse">
					<readerQuotas maxStringContentLength="134217728" maxArrayLength="0" />
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</netTcpBinding>
		  <basicHttpBinding>
			<binding name="GCSWebService" closeTimeout="00:01:00" openTimeout="00:01:00"
				receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
				messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				useDefaultWebProxy="true">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			  <security mode="Transport">
				<transport clientCredentialType="None" proxyCredentialType="None"
					realm="" />
				<message clientCredentialType="UserName" algorithmSuite="Default" />
			  </security>
			</binding>
		  </basicHttpBinding>
		</bindings>

	  <client>
		<endpoint address="https://websvctest.globalclientsolutions.com/v3.0/webservices.asmx"
			binding="basicHttpBinding" bindingConfiguration="GCSWebService"
			contract="GCSWebServiceReference.WebServicesSoap" name="GCSWebService" />
	  </client>
		<services>
			<service behaviorConfiguration="WebServiceBehavior"
     name="FluidTrade.Guardian.AdminSupport">
				<endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Admin Support"
									binding="netTcpBinding"
									bindingConfiguration="TcpTransactedUserNameBinding"
									name="TcpAdminEndpoint"
									contract="IAdminSupport" />
				<host>
					<baseAddresses>
						<add baseAddress="http://cce.darkbond.com/Guardian/Admin Support" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="WebServiceBehavior"
        name="FluidTrade.Guardian.ServerAdmin">
				<endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Server Admin"
						binding="netTcpBinding" bindingConfiguration="TcpTransactedUserNameBinding"
						name="TcpServerAdminEndpoint" contract="IServerAdmin" />
				<host>
					<baseAddresses>
						<add baseAddress="http://cce.darkbond.com/Guardian/Server Admin" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="WebServiceBehavior"
				name="FluidTrade.Guardian.ServerAdminCallbackManager">
				<host>
					<baseAddresses>
            <add baseAddress="net.tcp://cce.darkbond.com:809/Guardian/Server Admin Callback Manager" />
						<add baseAddress="http://cce.darkbond.com/Guardian/Server Admin Callback Manager" />
					</baseAddresses>
				</host>
				<endpoint address="Mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<endpoint binding="netTcpBinding" bindingConfiguration="TcpTransactedUserNameBinding" name="TcpServerAdminMgrEndpoint" contract="IServerAdminCallbackManager" />
			</service>
			<service behaviorConfiguration="WebServiceBehavior"
				name="FluidTrade.Guardian.ServerAdminStreamManager">
				<endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Server Admin Stream Manager"
						binding="netTcpBinding" bindingConfiguration="TcpTransactedUserNameStreamedBinding"
						name="TcpServerAdminStreamMgrEndpoint" contract="IServerAdminStreamManager" />
				<host>
					<baseAddresses>
						<add baseAddress="http://cce.darkbond.com/Guardian/Server Admin Stream Manager" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="WebServiceBehaviorLongTimeout"
							 name="FluidTrade.Guardian.DataModel">
				<endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Data Model"
									binding="netTcpBinding"
									bindingConfiguration="TcpTransactedUserNameBinding"
									name="TcpDataModelEndpoint"
									contract="IDataModel" />
				<endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Data Model/Certificate"
									binding="netTcpBinding"
									bindingConfiguration="TcpTransactedCertificateBinding"
									name="TcpDataModelEndpoint"
									contract="IDataModel" />
				<host>
					<baseAddresses>
						<add baseAddress="http://cce.darkbond.com/Guardian/Data Model" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="WebServiceBehavior"
							 name="FluidTrade.Guardian.TradingSupport">
				<endpoint address="net.tcp://cce.darkbond.com:809/Guardian/Trading Support"
									binding="netTcpBinding"
									bindingConfiguration="TcpTransactedUserNameBinding"
									name="TcpSupportEndpoint"
									contract="ITradingSupport" />
				<host>
					<baseAddresses>
						<add baseAddress="http://cce.darkbond.com/Guardian/Trading Support" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<diagnostics performanceCounters="All">
			<messageLogging logEntireMessage="true" logMessagesAtTransportLevel="true" />
		</diagnostics>
	</system.serviceModel>
</configuration>
