<?xml version="1.0"?>
<configuration>
	<runtime>
		<!-- Direct Assembly Bindings -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- FluidTrade.GuardianLibrary -->
			<dependentAssembly>
				<assemblyIdentity name="FluidTrade.GuardianLibrary" publicKeyToken="612c61628830b03a" culture="neutral"/>
				<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Guardian\Guardian Library\bin\Debug\FluidTrade.GuardianLibrary.dll"/>
			</dependentAssembly>
			<!-- FluidTrade.FluidTradeLibrary -->
			<dependentAssembly>
				<assemblyIdentity name="FluidTrade.FluidTradeLibrary" publicKeyToken="9e74401225b20b7d" culture="neutral"/>
				<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Fluid Trade Library\bin\Debug\FluidTrade.FluidTradeLibrary.dll"/>
			</dependentAssembly>
			<!-- FluidTrade.MessageLibrary -->
			<dependentAssembly>
				<assemblyIdentity name="FluidTrade.MessageLibrary" publicKeyToken="9e74401225b20b7d" culture="neutral"/>
				<codeBase version="1.3.0.0" href="file:///C:\Build\Projects\Fluid Trade\Main\Message Library\bin\Debug\FluidTrade.MessageLibrary.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
