<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluidTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FluidTest.Properties.Settings>
            <setting name="DataInputLocation" serializeAs="String">
                <value>Source Data\</value>
            </setting>
            <setting name="LocationInput" serializeAs="String">
                <value>Location.txt</value>
            </setting>
            <setting name="StreetInput" serializeAs="String">
                <value>Street.txt</value>
            </setting>
            <setting name="ConsumerDebtInput" serializeAs="String">
                <value>Consumer Debt.txt</value>
            </setting>
            <setting name="UserInput" serializeAs="String">
                <value>User.txt</value>
            </setting>
            <setting name="NickNameInput" serializeAs="String">
                <value>ShortenedFirstNames.txt</value>
            </setting>
            <setting name="OrganizationInput" serializeAs="String">
                <value>Organization.txt</value>
            </setting>
            <setting name="Address2Input" serializeAs="String">
                <value>Address2.txt</value>
            </setting>
            <setting name="MaleSalutationInput" serializeAs="String">
                <value>MaleSalutations.txt</value>
            </setting>
            <setting name="ConsumerInput" serializeAs="String">
                <value>consumer.txt</value>
            </setting>
            <setting name="MaleNamesInput" serializeAs="String">
                <value>MaleNames.txt</value>
            </setting>
            <setting name="FemaleNamesInput" serializeAs="String">
                <value>FemaleNames.txt</value>
            </setting>
            <setting name="MaleSuffixInput" serializeAs="String">
                <value>MaleSuffix.txt</value>
            </setting>
            <setting name="LastNameInput" serializeAs="String">
                <value>LastNames.txt</value>
            </setting>
            <setting name="PhoneNumberInput" serializeAs="String">
                <value>PhoneNumbers.txt</value>
            </setting>
            <setting name="FemaleSalutationInput" serializeAs="String">
                <value>FemaleSalutations.txt</value>
            </setting>
            <setting name="CreditCardIssuerInput" serializeAs="String">
                <value>Credit Card Issuer.txt</value>
            </setting>
            <setting name="DataOutputLocation" serializeAs="String">
                <value>Generated Data\</value>
            </setting>
            <setting name="ConsumerDebtOutput" serializeAs="String">
                <value>Consumer Debt.xml</value>
            </setting>
            <setting name="ConsumerOutput" serializeAs="String">
                <value>Consumer.xml</value>
            </setting>
            <setting name="TimestampFileOutput" serializeAs="String">
                <value>Timestamps.txt</value>
            </setting>
            <setting name="ConsumerTrustOutput" serializeAs="String">
                <value>Consumer Trust.xml</value>
            </setting>
            <setting name="UserOutput" serializeAs="String">
                <value>User.xml</value>
            </setting>
            <setting name="CreditCardOutput" serializeAs="String">
                <value>Credit Card.xml</value>
            </setting>
            <setting name="OrganizationOutput" serializeAs="String">
                <value>Organization.xml</value>
            </setting>
            <setting name="DumpDataSetToXml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DumpDataSetToBinary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DumpMiscDataGenStats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMatchDataToTable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpMatchDataToCsv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CsvMatchDumpFile" serializeAs="String">
                <value>GeneratedTestData_MatchDump.csv</value>
            </setting>
            <setting name="IncludeHeadersInCsvOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitUpOrganizationWorkingOrders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfWorkingOrderFilesPerOrganization" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberOfImportFilesPerOrganization" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithDateOfBirth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PercentageOfCreditCardRecordsWithIssuerData" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithFirstNames" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithLastNames" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithPhoneNumber" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithMiddleNames" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithSuffixes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithAddress1" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithAddress2" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithBankAccountData"
                serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithCity" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="PercentageOfConsumersWithKnownEmployeeStatus"
                serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithSalutations" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithPostalCode" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="PercentageOfConsumerRecordsWithProvinceCode" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="PercentageOfUnemployment" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="UseTimeBasedRandomSeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomNumberGeneratorSeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfCreditCardsPerConsumer" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RandomCreditCardsPerConsumerMax" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="OneConsumerCreditCardPerDebtHolderOrganization"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebtSideFuzzCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommonFuzzCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebtSideFuzzNicknamePercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebtHolderAccountNumberStartValue" serializeAs="String">
                <value>152515115</value>
            </setting>
            <setting name="NumberOfConsumerRecords" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NumberOfTrustRecords" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="NumberOfDebtRecords" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="NumberOfMatches" serializeAs="String">
                <value>251</value>
            </setting>
            <setting name="TrustSideFuzzCount" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="TrustSideFuzzNicknamePercentage" serializeAs="String">
                <value>4</value>
            </setting>
        </FluidTest.Properties.Settings>
    </applicationSettings>
</configuration>
<!--


Timestamp[START]: 9/18/2009 11:08:04 AM

SSN Duplicates: 0

Full Name Duplicates: 0

Random Seed: 0

DebtCreditCard.Count: 500 DebtSideConsumer.Count: 500
   Real SSN: 383-73-3010 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 993-55-7655 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 518-32-5464 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 254-50-9460 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 827-12-9457 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 636-44-6096 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 478-46-7245 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 094-67-8365 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 965-81-9453 with 4 credit cards on Debt Side | 4 matched
   Real SSN: 354-36-3916 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 886-56-0010 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 842-32-7804 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 460-14-4513 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 561-99-6837 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 088-78-7095 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 415-36-1387 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 068-24-5415 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 147-09-6535 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 378-13-3906 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 573-53-5048 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 999-95-8314 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 070-24-4946 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 676-65-2925 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 455-99-9226 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 321-02-6709 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 004-35-6954 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 336-75-8431 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 639-82-9497 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 657-90-8519 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 330-38-2649 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 476-27-6782 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 766-09-7328 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 617-38-6577 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 851-59-1301 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 393-30-1737 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 120-24-0779 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 591-23-9534 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 796-68-5862 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 693-72-0010 with 2 credit cards on Debt Side | 2 matched
   Real SSN: 306-82-0806 with 3 credit cards on Debt Side | 3 matched
   Real SSN: 368-79-2679 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 315-59-1464 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 717-59-1015 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 109-13-5662 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 644-16-4099 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 706-16-0958 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 172-10-3437 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 340-64-7945 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 363-93-9241 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 376-55-1055 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 175-86-5172 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 991-89-8948 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 603-27-1270 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 920-44-6305 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 548-16-0226 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 956-12-5779 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 880-97-3614 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 363-28-5104 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 183-98-6382 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 245-87-2242 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 300-51-7364 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 947-71-2161 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 879-82-2498 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 332-29-8505 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 380-10-0045 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 204-96-1516 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 060-68-1087 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 426-46-1511 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 872-41-8289 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 482-63-7663 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 082-55-4257 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 135-24-7791 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 049-02-1846 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 706-89-4805 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 387-86-5483 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 216-53-0119 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 673-46-4197 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 425-85-7273 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 653-11-1194 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 084-39-3243 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 499-17-5872 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 151-97-9933 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 787-34-5102 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 012-74-6044 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 464-43-0380 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 327-07-7205 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 107-38-1286 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 716-59-9392 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 557-76-5051 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 886-89-3745 with 3 credit cards on Debt Side | 0 matched
   Real SSN: 758-22-9603 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 997-13-3550 with 2 credit cards on Debt Side | 0 matched
   Real SSN: 163-20-9302 with 2 credit cards on Debt Side | 0 matched
Consumers with > 1 Credit Card on Debt Side: 93

Matched CreditCards (RealCreditCard.IsMatched=True)
CCN: 5024364711157374, SSN: 294-32-2178
CCN: 7012224035103435, SSN: 984-35-1327
CCN: 7331343756718012, SSN: 337-81-5894
CCN: 4029032468640833, SSN: 094-67-8365
CCN: 7589110035263492, SSN: 094-67-8365
CCN: 5692070169333797, SSN: 094-67-8365
CCN: 7123117692127252, SSN: 806-91-9665
CCN: 7390379086161389, SSN: 515-27-5343
CCN: 4869715630511720, SSN: 498-37-1185
CCN: 5428286725298560, SSN: 321-02-6709
CCN: 7567821933107509, SSN: 321-02-6709
CCN: 7664586623038190, SSN: 886-56-0010
CCN: 4044413462264028, SSN: 886-56-0010
CCN: 5135897904507309, SSN: 886-56-0010
CCN: 5577655870033732, SSN: 122-87-0745
CCN: 5492994377421294, SSN: 171-85-1629
CCN: 4030713438726934, SSN: 993-55-7655
CCN: 4296098650933215, SSN: 993-55-7655
CCN: 7520801856020319, SSN: 471-90-3700
CCN: 5815272175831665, SSN: 390-80-2540
* See GeneratedTestData_MatchDump.csv for a full list of matches

COUNTS
1120 Consumer records created (620 Trust Side, 500 Debt Side)
5154 Credit Cards with an average number of 7 per consumer
620 Trust Rows created (from a pool of 1000 in the RealConsumer table)
4654 Trust Credit Cards created
500 Debt Records created (from a pool of 4654 Trust Side Credit cards)
251 Matches, 101 of which are fuzzed

Timestamp[END]: 9/18/2009 11:08:23 AM

Data Gen Durations
0.009 Min: Build Consumer Table
0.008 Min: Build Consumer Trust Table
0.008 Min: Build Consumer Debt Table
0.004 Min: Fuzz Trust
0.000 Min: Shuffle the Debt and Trust ID lists
0.000 Min: Write Script Loader Table XML Files
0.002 Min: Global Settlements xml dump
0.001 Min: Consolidated Settlements xml dump
0.001 Min: Cunningham Settlements xml dump
0.000 Min: National Holdings xml dump
0.000 Min: Worldwide Holdings xml dump
0.000 Min: Federated Holdings xml dump
0.000 Min: Write Flat Input Files
0.001 Min: Dump the Match Data
0.000 Min: Dump the miscelaneous Count data
0.034 Min: Total

-->
