<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluidTrade.Guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluidTrade.Guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FluidTrade.Guardian.Properties.Settings>
            <setting name="AlwaysShowMainMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="DataSetId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="IsFilledFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHeaderFrozen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLayoutFrozen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsNavigationPaneVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRunningFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Magnification" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MainWindowStartupLocation" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MainWindowWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowWindowStartupLocation" serializeAs="String">
                <value>Manual</value>
            </setting>
            <setting name="NavigationPaneWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="NavigationSplitterWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StatusBarHeight" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Sequence" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>1024</value>
            </setting>
        </FluidTrade.Guardian.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FluidTrade.Guardian.Properties.Settings>
            <setting name="AdminSupportEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataModelEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="DataModelInstanceId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="FluidTradeCACertificate" serializeAs="String">
                <value>Fluid Trade CA.cer</value>
            </setting>
            <setting name="FluidTradeCA" serializeAs="String">
                <value>Fluid Trade CA</value>
            </setting>
            <setting name="GuardianECN" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportCacheSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LandingPageURI" serializeAs="String">
                <value />
            </setting>
            <setting name="PageSource" serializeAs="String">
                <value />
            </setting>
            <setting name="PurgeBufferSize" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="ReadBufferSize" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceStartingMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceStoppingMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="SimulatedPrices" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceOrderSchema" serializeAs="String">
                <value />
            </setting>
            <setting name="TradingSupportEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="TransactionLogAge" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="TransactionLogCompressionSize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="TransactionLogCompressionTime" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="DataModelFilename" serializeAs="String">
                <value>Data Model.xml</value>
            </setting>
        </FluidTrade.Guardian.Properties.Settings>
    </applicationSettings>
</configuration>
